@model IEnumerable<CoffeeManagementSystem.Entities.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Suppliers <span b-m74snmkbix="" class="badge badge-info right"> @ViewBag.SuppliersCount</span> </h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.SupplierId" class="btn btn-secondary">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
